.about {
    background-color: rgb(69, 53, 216);
    position: relative;
    height: 120vh;
    font-size: 15rem;
    border-top-right-radius: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.iconsContainer {
    content: "";
    position: relative;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

   
.innerBackground {
    position: relative;
    background-color: rgb(7, 2, 39);
    height: 79vh;
    border-top-left-radius: 9rem;
    position: relative;
    content: "";
    color: white;
    width: 97vw;
}

.iconsGroupOne {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    flex-direction: row;
    height: 100px;
    color: rgb(255, 255, 255);
    margin-bottom: 5rem;
}

.iconsGroupTwo {
    position: relative;
    /* background: rgb(37, 143, 192); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    height: 100px;
    color: rgb(255, 255, 255);
}

.iconsGroupOne div, .iconsGroupTwo div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-left: .5px solid rgba(253, 253, 253, 0.1); 
    border-bottom: .5px solid rgba(253, 253, 253, 0.1); 
    /* border-top: none ; */
}

.rails {
    padding: 2rem;
    background-color: rgb(79, 101, 228);
}

.skills {
    position: relative;
    /* background: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: normal;
    top: .5rem;
    width: 100vw;
    /* z-index: 10000000; */
    font-size: 2rem;
    letter-spacing: .5rem;
    margin-top: 50px;
    margin-bottom: 50px;
}



.icon{
    align-self: center;
    /* background-color: red; */
}
