.about {
    background-color: rgb(69, 53, 216);
    position: relative;
    height: 120vh;
    font-size: 15rem;
    border-top-left-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.iconsContainer {
    content: "";
    position: relative;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innerBackground {
    position: relative;
    background-color: rgb(7, 2, 39);
    height: 79vh;
    border-top-right-radius: 5rem;
    position: relative;
    content: "";
    color: white;
    width: 97vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconsGroupOne {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 61vw;
    flex-direction: row;
    height: 100px;
    color: rgb(255, 255, 255);
    margin-bottom: 3rem;
}

.iconsGroupTwo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 61vw;
    height: 100px;
    color: rgb(255, 255, 255);
}

.iconsGroupOne div, .iconsGroupTwo div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-left: .5px solid rgba(253, 253, 253, 0.1); 
    border-bottom: .5px solid rgba(253, 253, 253, 0.1); 
    font-size: 1rem;
    font-weight: bolder;
}

.rails {
    padding: 2rem;
    background-color: rgb(79, 101, 228);
}

.skills {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    top: .5rem;
    width: 100vw;
    font-size: 1.9rem;
    letter-spacing: .3rem;
    margin-top: 50px;
}

.icon {
    position: relative;
    color: #ffffff;
    margin: 5px;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    filter: drop-shadow(-1px 1px 3px rgba(0, 0, 0, 0.6));
    overflow: hidden;
    z-index: 3;
}

.icon:hover {
    content: "";
    color: rgb(114, 166, 250);
    transition-delay: 0s, 0.5s, 0.5s;
    z-index: 12;
    transform: translateY(3px);
    cursor: default;
}

.rails {
    background-color: rgba(255, 255, 255, 0);
    letter-spacing: .1rem;
}

.icon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(45deg) translateX(150px);
    transition: .5s;
}

.icon:hover:before {
    transform: skew(45deg) translateX(-150px);
}

#description {
    font-size: 1.5rem;
    letter-spacing: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#box {
    content: "";
    position: absolute;
    width: 61%;
    height: 10rem;
    border: .5px solid rgba(253, 253, 253, 0.1);
    z-index: 1;
}

.firebase {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#firebase {
    position: absolute;
    display: block;
}

#copyright {
    position: absolute;
    display: flex;
    bottom: 1rem;
    font-size: 1rem;
    font-weight: 200;
    color: rgb(255, 255, 255, .5);
}

#copyrightLogo {
    position: relative;
    transform: translateY(.3rem);
    margin-right: 5px;
}

#introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 83vw;
    flex-wrap: wrap;
    padding-left: 3rem;
    padding-right: 3rem;
    border: .5px solid rgba(253, 253, 253, 0.1); 
    font-weight: 200;
    font-size: 1.5vw;
    text-align: center;
    
}

#aboutMe {
    font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 640px) {

    #box {
        width: 89%;
    }
    .about {
        border-top-left-radius: 0rem;
    }
    
    .icon {
        height: 9.9vw;
        width: 9.9vw;
        border-radius: 2px;
        padding: .3rem;
    }

    .rails {
        font-size: xx-small;
        padding: 1rem;
    }

    .iconsGroupOne, .iconsGroupTwo {
        width: 85%;
    }

    .innerBackground {
        height: 79vh;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        position: relative;
        content: "";
        color: white;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #aboutMe {
        font-weight: bold;
        font-size: small;
        transform: translateY(-2rem);
    }
    
    #bio {
        font-size: xx-small;
        padding-bottom: 1rem;
    }

    #copyright {
        font-size: x-small;
    }
/* 
    .about {
        min-height: 150vh;
    } */

}