

.toggle {
    position: fixed;
    top: 0%;
    right: 0%;
    height: 60px;
    width: 60px;
    display: flex;
    background-color: #4C5F76;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
    z-index: 2;
    color: white;
    font-weight: lighter;
    /* transform:translate(50%); */
  }
  
  .toggle, .active {
    transition: .5s ease-in;
  }
  
  .toggle:hover {
    background: red;
  }
  
  
  .pages{
    position: fixed;
    background: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(100% - 60px);
    text-align: center; 
  }
  
  .pages.active {
    position: fixed;
    background: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    z-index: 1;
    color: #4C5F76;
  }
  
  
  .socialBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-right: 1px solid rgba(0,0,0,0.1);
  }
  
  .socialBar ul li  {
    list-style: none;
  }
  
  .socialBar ul li a {
    display: inline-block;
    padding: 20px;
    margin-right: 40px;
    color: #4C5F76;
  }
  
  .pages ul li {
    list-style: none;
    font-size: 30px;
    padding: 5px;
  }
  
  
  
  .home h2:before{
    content: "";
    position: absolute;
    top: 0;
    left: 120%;
    width: 120%;
    height: 100vh;
    background: linear-gradient(90deg, transparent 0%,   rgb(44, 45, 75) 5%,    rgb(44, 45, 75) 100%);
    background-size: 100% 100%;
    animation: animate 5.2s linear forwards;
  }
  
  @keyframes animate {
    0% {
      left: 110%
    }
    100% {
      left: -20%
    }
  }
  
  .transition {
      background-color: rgb(172, 194, 50);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15rem;
      
  }