.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sectionContainer {
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    perspective: 3000px;
}

.subsectionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 90vw;
    padding-left: 12rem;
    transform-style: preserve-3d;
}

.projectTitle {
    position: relative;
    font-family: Avertastd,sans-serif;
    letter-spacing: .3em;
    font-size: 1.1rem;
    border-left: 3px solid rgb(10, 26, 243);
    padding-left: 1rem;
    margin-block-end: 4rem;
    z-index: 5;
}

.card {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    transform-style: preserve-3d;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding: min(2.5rem, 10vh);
    width: min(70vw, 90%);
    height: max(50vh, 60%);
    z-index: 0;
}

.techInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1rem;
    margin-top: 7vh;
    font-weight: lighter;
    color: rgb(246, 246, 246);
    font-size: 1.1vw;
    font-weight: lighter;
    letter-spacing: .05rem;
    text-align: start;
    font-family: 'Times New Roman', Times, serif;
    max-height: 7vw;
    max-width: fit-content;
}

.appInfo h3 {
    position: relative;
    text-align: start;
    color: rgb(255, 255, 255);
    font-size: 1.25vw;
    letter-spacing: .05rem;
    font-family: 'Times New Roman', Times, serif;
     word-wrap: break-word;
}

.title {
    margin-bottom: 5vh;
    font-size: 2.7vw;
}

.titleSkyGazer {
    margin-top: 2rem;
}

.titleSkyGazer span {
    color: rgb(236, 71, 49);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
}

#e {
    color: rgb(81, 155, 224);
}

.cOne {
    background:rgb(253, 182, 27)
}

.cTwo {
    background: rgb(40, 149, 156)
}

.cThree {
    background: rgb(243, 100, 75);
} 

.techContainer {
    transform: translateZ(15rem);
}

.backend a {
    text-decoration-color: white;
    cursor: pointer;
    color: white;
}

.frontend a {
    text-decoration-color: white;
    cursor: pointer;
    color: white;
}

.skyGazer {
    position: relative;
    margin-right: 4rem;
}

.skyGazer img {
    display: block;
    max-width: 120%;
    filter: drop-shadow(25px 0px 3.5px rgba(0, 0, 0, 0.1));
}

.dogScanner img {
    max-width: 100%;
    margin-right: 50px;
    filter: drop-shadow(25px 0px 3.5px rgba(0, 0, 0, 0.1));
}

.watchual img {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    max-width: 80%;
    transform: rotate(-25deg) translateY(-1rem) translateX(3rem);
    filter: drop-shadow(-25px 15px 4px rgba(0, 0, 0, 0.1));
}

img {
    z-index: 0;
}

#paw {
    color: rgb(168, 64, 22);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
}

.titleWatchualS{
    display: flex;
    justify-content: flex-start;
    align-items: space-between;
}

#watch {
    position: relative;
    left: -1rem;
    z-index: 1;
    color: rgb(238, 224, 95);
    filter: drop-shadow(-7px 7px 1px rgba(0, 0, 0, 0.15));
}

#circle {
    position: absolute;
    right: 0rem;
    min-width: 25%;
    min-height: 85%;
    background-color: rgb(33, 172, 182);
    z-index: -1;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1));
}

#smallCircleOne {
    position: absolute;
    left: 0rem;
    top: 7rem;
    min-width: 10%;
    min-height: 29%;
    background-color: rgb(231, 151, 137);
    z-index: -1;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1));
}

#smallCircleTwo {
    position: absolute;
    right: 2rem;
    bottom: 0rem;
    min-width: 9%;
    min-height: 9%;
    background-color: rgba(231, 151, 137);
    z-index: -1;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}
    
#websiteBtnOne button, #websiteBtnTwo button, #websiteBtnThree button {
    padding: .5rem 1rem;
    margin-bottom: 45px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-right: 15px;
    letter-spacing: .05rem;
    filter: drop-shadow(0px .5px .5px rgba(0, 0, 0, 0.4));
}

#websiteBtnOne button {
    background-color: rgb(255, 202, 88);
}

#websiteBtnTwo button {
    background-color: rgb(33, 172, 182);
}

#websiteBtnThree button {
    background-color: rgb(253, 136, 115);
}

#websiteBtnOne button:hover, #websiteBtnTwo button:hover, #websiteBtnThree button:hover {
    transform: scale(1.1);
    transition: 1.5s ease-in-out;
    cursor: pointer;
}

#websiteBtnOne, #websiteBtnTwo, #websiteBtnThree{
    display: flex;
}

.projectTitle span {
    color: blue;
    font-size: 1.3rem;
}

.skyGazerVideo, .dogScannerVideo, .watchualVideo {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: -10;
} 

.videoOneActive iframe, .videoTwoActive iframe, .videoThreeActive iframe {
    position: absolute;
    min-width: 70vw;
    min-height: 60vh;
    outline: none;
    border: none;
    transform: translateX(-100%) translateY(-50%) translateZ(2rem);
    z-index: 999;
    overflow-y: hidden;
}

.videoOneActive  .closeBtn, .videoTwoActive  .closeBtn, .videoThreeActive .closeBtn  {
    position: absolute;
    color: rgb(69, 16, 216);
    z-index: 999;
    transform: translateX(-5.5vw) translateY(-30vh) translateZ(3rem);
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        overflow: hidden;
    }
    
    .sectionContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .subsectionContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75vh;
        width: 90vw;
    }

    .projectTitle {
        font-size: 2rem;
        right: 5rem;
    }
    
    .card {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        width: 90vw;
        min-height: 85vh;
        padding: 5rem; 
        justify-content: center;
        align-items: flex-end;
        right: 6rem;
    }

    img {
        width: 50vw;
    }

    .appInfo h3 {
        font-size: 3.3vw;
        text-align: center;
    }

    .appInfo {
        position: absolute;
        top: 2rem;
        left: 5rem;
        width: 37rem;
    }

     .techContainer {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 40rem;
        margin-top: 20rem;
        transform: translateZ(15rem);
    }

    .techInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .frontend, .backend {
        font-size: 1.5rem;
    }

    #websiteBtnOne, #websiteBtnTwo, #websiteBtnThree {
        margin-top: 2rem;
    }

    #websiteBtnOne button, #websiteBtnTwo button, #websiteBtnThree button {
        width: 9rem;
        height: 3.5rem;
        font-size: 1.5rem;
    }

    .title {
        text-align: center;
        font-size: 3rem;
    }

    .watchual img {
        width: 45vw;
        transform: rotate(-90deg) translateY(-4rem);
    }
    
    .titleWatchualS {
        transform: translateX(12rem);
    }

    .videoOneActive iframe, .videoTwoActive iframe, .videoThreeActive iframe {
        position: absolute;
        min-width: 100vw;
        min-height: 85vh;
        outline: none;
        border: none;
        transform: translateX(-80%) translateY(-50%) translateZ(2rem);
        z-index: 999;
        overflow-y: hidden;
    }

    .videoOneActive, .videoTwoActive, .videoThreeActive {
        position: relative;
        transform: translateX(-7rem) translateY(1rem) translateZ(9rem);
        z-index: 300;
    }
        
    .videoOneActive  .closeBtn, .videoTwoActive  .closeBtn, .videoThreeActive .closeBtn{
        position: absolute;
        transform: translateX(3rem) translateY(-31rem) translateZ(9rem);
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    
     .projectContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        overflow: hidden;
    }
    
    .sectionContainer {
        max-height: 100vh;
        min-width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: none;
    }
    
    .subsectionContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        padding-left: 0rem;
    }

    .card {
        position: relative;
        display: flex;
        font-size: small;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        min-width: 100vw;
        min-height: 80vh;
        font-size: xx-small;
        overflow: hidden;
        text-align: center;
        padding-top: 2rem;
        left: 0;
        margin-bottom: 20vh;
        z-index: 0;
    }

    .appInfo h3 {
        text-align: center;
        font-size: large;
    }

    .title {
        position: absolute;
        font-size: xx-large;
        top: 1rem;
        left: 2vw;
        right: 2vw;
    }

    .titleSkyGazer {
        display: flex;
        margin-top: 3vh;
        min-width: 15rem;
        margin-left: 7rem;
    }

    #projectThreeInfo {
        margin-top: 15vh;
        text-align: center;
    }

    #websiteBtnOne {
        margin-bottom: 5vh;
    }

    .skyGazer {
        margin-top: 5rem;
        margin-bottom: 3rem;
        margin-left: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dogScanner {
        display: flex;
        margin-top: 5rem;
        margin-bottom: 3rem;
        margin-left: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projectTitleOne {
        transform: translateZ(10rem);
        margin-top: 7rem;
        margin-bottom: 1rem;
    }

    .projectTitleTwo {
        margin-top: 2rem;
    }
    
    .cOne {
        margin-top: 2rem;
    }

    .techInfo {
        font-size: medium;
        margin-bottom: 5vh;
        align-items: center;
        text-align: center;
    }

    .skyGazerTechInfo {
        margin-right: 3vw;
    }

    .watchualTinfo {
        margin-top: 5vh;
        margin-bottom: 7vh;
        margin-right: .9rem;
    }

    .skyGazer img {
        height: 20vh;
        min-width: 50vw;
        margin-top: 5vh;
    }

    #watchDiv {
        display: none;
    }

    .watchual img {
        margin-bottom: -9rem;
        margin-top: 3rem;
        width: 42vw;
    }

    #circle {
        min-height: 45%;
        min-width: 40%;
    }

    #smallCircleOne {
        min-width: 25%;
        min-height: 25%;
        border-top-right-radius: 150px;
        border-bottom-right-radius: 150px;
    }

    #smallCircleTwo {
        min-width: 25%;
        min-height: 7%;
        border-top-right-radius: 60px;
        border-top-left-radius: 60px;
    }

    .skyGazerVideo iframe, .videoOneActive iframe, .dogScanner iframe, .videoTwoActive iframe, .watchualVideo iframe, .videoThreeActive iframe {
        position: absolute;
        max-width: 100vw;
        min-height: 91vh;
        margin-right: 3rem;
    }

    .videoOneActive, .videoTwoActive, .videoThreeActive {
        position: relative;
        transform: translateY(1rem) translateZ(9rem);
        z-index: 99;
    }
    
    .videoOneActive .closeBtn, .videoTwoActive .closeBtn, .videoThreeActive .closeBtn  {
        position: absolute;
        top: 0;
        right: 0;
        color: red;
        transform: translateY(-21rem) translateZ(9rem);
    }

    #websiteBtnOne, #websiteBtnTwo, #websiteBtnThree{
        justify-content: center;
    }

}

@media screen and (orientation:landscape) and (max-device-width: 844px)  {

    .subsectionContainer {
        margin-bottom: 9rem;   
    }

    .watchual img {
        max-width: 60%;
    }
    
    .projectTitle {
        margin-top: 2rem;
        margin-bottom: 3rem;
        right: 9rem;
    }

    .card {
        position: relative;
        right: 9rem;
        min-height: 75vh;
        min-width: 70vw;
        margin-bottom: 5rem;
    }

    .appInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        transform: none;
    }

    #websiteBtnOne button, #websiteBtnTwo button, #websiteBtnThree button{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vh;
        width: 7vw;
        height: 5vh;
        letter-spacing: normal;
    }

    #watchDiv svg {
        width: 2rem;
        bottom: 1.5rem;
    }

    .videoOneActive, .videoTwoActive, .videoThreeActive {
        position: relative;
        transform: translateX(-7rem) translateY(1rem) translateZ(9rem);
        z-index: 300;
    }
        
    .videoOneActive  .closeBtn, .videoTwoActive  .closeBtn, .videoThreeActive .closeBtn{
        position: absolute;
        transform: translateX(-5rem) translateY(-10rem) translateZ(9rem);
    }

    #websiteBtnOne a, #websiteBtnTwo a, #websiteBtnThree a {
        text-decoration: none;
    }
        
}

