.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15rem;
    /* background-color: red; */
}


.sectionContainer {
    min-height: 100vh;
    margin-left: 200px;
    right: auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 3000px;
    /* background-color: rgb(192, 67, 67); */
    /* z-index: -3; */
}


.subsectionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 70vw;
    transform-style: preserve-3d;
    /* background-color: cornflowerblue; */
}


.cOne, .cTwo, .cThree {
    position: relative;
    min-height: 79%;
    min-width: 81%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    border-radius: 15px;
}

.cOne {
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c) */
    background:rgb(253, 182, 27)
}


.cTwo {
    background: rgb(40, 149, 156)
}


.cThree {
    background: linear-gradient(0.25turn, #f69d3c, #e4d1a9, #8111dd)
} 

.skyGazer {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    /* background-color: lightcoral; */
}

.skyGazer img {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    max-width: 27em;
    margin-right: 50px;
    z-index: 2;
}

.dogScanner img {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    max-width: 27em;
    margin-right: 50px;
    z-index: 5;
    filter: drop-shadow(25px 0px 3.5px rgba(0, 0, 0, 0.1));
}

#paw {
    color: rgb(168, 64, 22);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
}

.circle {
    position: absolute;
    /* top: 1rem; */
    right: 0rem;
    min-width: 25%;
    min-height: 85%;
    background-color: rgb(33, 172, 182);
    z-index: -1;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1));
}
    
.info {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    /* background-color: blueviolet; */
    height: 50vh;
    width: 25vw;
    color: rgb(255, 255, 255);
    margin-left: 50px;
}
    
.info h1 {
    font-size: 2.5rem;
    margin-top: 25px;
    /* filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4)); */
}

.info h1 span {
    color: rgb(236, 71, 49);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
}

#e {
    color: rgb(81, 155, 224);
}

.info h3 {
    font-size: 1.2rem;
    padding: 2rem 0rem;
    font-weight: 500;
    overflow-wrap: wrap;
    /* color: white; */
    color: rgba(255, 255, 255);
    letter-spacing: .04rem;
    
    /* background-color: blue; */
}

.websiteBtnOne button, .websiteBtnTwo button, .websiteBtnThree button {
    padding: .5rem 1rem;
    margin-bottom: 50px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-right: 15px;
    letter-spacing: .05rem;
    filter: drop-shadow(0px .5px .5px rgba(0, 0, 0, 0.4));
}

.websiteBtnOne button {
    background-color: rgb(255, 202, 88);
}

.websiteBtnTwo button {
    background-color: rgb(33, 172, 182);
}


.websiteBtnOne button:hover, .websiteBtnTwo button:hover, .websiteBtnThree button:hover{
    transform: scale(1.1);
    background-color: rgb(134, 189, 206);
    transition: .7 s ease-in-out;
}

.projectTitle span {
    color: blue;
    font-size: 1.3rem;
}

:root {
    --text-color: rgb(226, 166, 0);
}

.projectTitle {
    font-family: Avertastd,sans-serif;
    font-weight: bold;
    position: fixed;
    top: 100px;
    left: 12vw;
    z-index: 9;
    letter-spacing: .3em;
    font-size: 1.1rem;
    border-left: 3px solid rgb(10, 26, 243);
    padding-left: 12px;
}

.techInfoOne, .techInfoTwo {
    display: flex;
    flex-direction: column;
    font-weight:  350;
    font-size: 1.2em;
}

#frontend, #backend {
    font-weight:  500;
    color: rgba(255, 255, 255);
    letter-spacing: .03rem;
    
    /* color: white; */
}

#backend span {
    /* color: white; */
    color: rgba(255, 255, 255);
    font-weight:  500;
}

#frontend span {
    /* color: white; */
    color: rgba(255, 255, 255);
    font-weight:  500;
}


.skyGazerVideo {
    position: absolute;
    z-index: 0;
    height: 70vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
} 

.skyGazerVideo iframe, .videoOneActive iframe {
    position: relative;
    min-width: 58vw;
    height: 59vh;
    outline: none;
    border: none;
}

.videoOneActive {
    position: fixed;
    background: rgba(12, 11, 11, 0.9);
    /* height: 74vh; */
    /* width: 76vw; */
    display: flex;
    justify-content: center;
    align-items: center;  
    visibility: visible;
    opacity: 1;
    z-index: 6;
}

.skyGazerVideo #closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(255, 254, 254);
    visibility: hidden;
    opacity: 0;
}

.videoOneActive  #closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(255, 254, 254);
}

.videoOneActive  #closeBtn:hover {
    transform: scale(1.1);
    color: rgb(0, 81, 255);
}