.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15rem;
    background-color: red;
}


.sectionContainer {
    min-height: 100vh;
    margin-left: 200px;
    right: auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 3000px;
    /* background-color: rgb(192, 67, 67); */
    /* z-index: -3; */
}


.subsectionContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 79%;
    padding-top: 50px;
    padding-bottom: 50px;
    transform-style: preserve-3d;
    /* background-color: cornflowerblue; */
}

/* .one {
    background-color: cyan;
}

.two {
    background-color: darkgreen;
} */

.card {
    min-height: 50vh;
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2); */
    border-radius: 15px;
    transform-style: preserve-3d;
    background-color: rgb(226, 166, 0);
}

.cOne {
    background-color: rgb(226, 166, 0);
}

.cTwo {
    background-color: rgb(72, 226, 0);
}

.cThree {
    background-color: rgb(207, 0, 226);
} 

.skyGazer {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    /* background-color: lightcoral; */
}

.skyGazer img {
    width: 20rem;
    z-index: 2;
}

.circle {
    width: 20rem;
    height: 20rem;
    background: linear-gradient(
        to right, 
        rgba(245, 70, 66, 0.75),
        rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    margin-left: 300px ;
    z-index: 1;
    border-radius: 15rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h1 {
    font-size: 3rem;
}

.info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
}

.info button {
    padding: .9rem 3rem;
    margin: 7px;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    font-weight: bold;
    color: #585858;
    font-weight: bolder;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}


:root {
    --text-color: rgb(226, 166, 0);
  }
.pageNumber {
    font-family: "Abril Fatface";
    font-weight: bolder;
    color: var(--text-color);
    position: absolute;
    font-size: 7rem;
    bottom: 150px;
    right: 100px;
}

.projectNumber {
    /* background-color: burlywood; */
    /* text-orientation: sideways-right; */
    font-weight: bolder;
    position: fixed;
    top: 100px;
    right: 190px;
    z-index: 9;
    font-size: 2em;
  
}

.one {
    /* background-color: chocolate; */
}

