* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-size: 16px;
  }
  
  /* Header styles */
  .header {
    position: absolute;
    top: 2rem;
    width: 70vw;
    height: 12vh;
    display: flex;
    font-size: 20pt;
    align-items: center;
  }
  
  #headerLeft {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-weight: 500;
  }
  
  #headerLeft span {
    padding-left: 50px;
    font-size: 9pt;
    letter-spacing: .05rem;
  }
  
  #titlePortfolio {
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 0.05rem;
  }
  
  #headerLeft span a {
    text-decoration: none;
    color: rgba(44, 40, 40, 0.79);
  }
  
  #headerLeft span a:hover {
    color: rgb(61, 4, 195);
    font-weight: bolder;
    cursor: pointer;
  }
  
  /* Social bar styles */
  .socialBar {
    position: fixed;
    right: 0;
    top: 0;
    width: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .socialBar::before {
    content: "";
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 9;
  }
  
  #socialListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
  }
  
  #socialListContainer li {
    list-style: none;
  }
  
  .socialBarIcon {
    position: relative;
    color: #2f6db9;
    margin: 5px;
    width: 4.5vw;
    height: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: 0.5s, z-index 0.5s, transform 0.5s;
    overflow: hidden;
    transform: translateZ(200px);
  }
  
  .socialBarIcon svg {
    height: 2.7vw;
    width: 2.7vw;
  }
  
  #socialListContainer li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateY(150px);
    transition: .5s;
  }
  
  #socialListContainer li a:hover {
    transition-delay: 0s, 0.5s, 0.5s;
    z-index: 12;
    transform: translateX(20px);
  }
  
  #socialListContainer li a:hover::before {
    transform: skewX(45deg) translateY(-150px);
  }
  
  /* Home section styles */
  .home {
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    background: white;
  }
  
  #centralContent {
    font-size: 3.9vw;
    color: rgb(44, 40, 40);
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #centralText {
    position: absolute;
    font-weight: bolder;
    left: 15vw;
  }
  
  #svgContainer {
    position: absolute;
    display: flex;
    right: 10vw;
  }
  
  .projectButton {
    margin-top: 99px;
    font-size: 1.3rem;
    padding: 17px 40px;
    background-color: rgb(29, 80, 219);
    color: white;
    border-radius: 7px;
    border: none;
    font-weight: 600;
    box-shadow: 10px 10px 0px -0.7px, rgb(10, 65, 216) 10px 10px;
  }
  
  .projectButton a {
    text-decoration: none;
    color: white;
  }
  
  #button {
    position: relative;
    margin-left: 30px;
    animation: button 5s linear infinite;
    transform-origin: center;
  }
  
  @keyframes button {
    0% {
      transform: translate(-40px) rotate(0deg);
    }
    50% {
      transform: translate(42px) rotate(180deg);
    }
    100% {
      transform: translate(-40px) rotate(0deg);
    }
  }
  
  #centralText button:hover {
    background-color: rgb(61, 4, 195);
    transition: .5s ease;
    cursor: pointer;
  }
  
  #svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
  }
  
  #centralText:nth-child(1) span {
    color: rgba(35, 35, 36, 0.9);
  }
  
  .leftText span {
    color: rgb(66, 46, 46);
  }
  
  /* Miscellaneous styles */
  .coverOne {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100vh;
    z-index: 1;
    filter: blur(15px);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
  }
  
  .menuContainer {
    position: fixed;
    top: 50px;
    right: 10.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
  
  .menuNinety {
    right: 1vw;
    transform: rotate(270deg);
    top: 19vh;
    z-index: 1;
    transition: .5s ease;
  }
  
  .menu a button {
    color: #000000;
    padding: 10px 15px;
    background: none;
    border: 1px solid rgb(77, 114, 214);
    border-radius: 5px;
    font-weight: bolder;
    z-index: 5;
  } 
  
  .menu a button:hover {
    background: #4545f3;
    color: white;
    transition: .5s ease;
    cursor: pointer;
  }
  
  .description {
    font-size: 1.3vw;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 5px;
    margin-top: 75px;
    width: 22vw;
    letter-spacing: .06em;
    padding-bottom: 5px;
    border-bottom: .5px solid rgba(0, 0, 0, 0.1); 
  }
  
  #intro {
    font-size: 1.3vw;
    font-weight: 700;
    color: rgba(84, 120, 199, 0.5);
    width: 33vw;
    letter-spacing: .06em;
  }
  
  #name {
    color: rgba(0, 0, 0);
    font-size: 4.1vw;
  }
  
  #introTwo {
    font-size: 2.2vw;
    width: 40vw;
    letter-spacing: .03em;
    margin-bottom: 3rem;
    margin-top: .5rem;
  }
  
  #Subtract {
    fill: rgb(210, 214, 251, 0.5);
  }
  
  #Rectangle13 {
    fill: rgb(210, 214, 251, 0.9);
  }
  
  #logo {
    padding-right: 15px;
    padding-left: 0;
  }
  
  #logo a {
    color: rgb(29, 80, 219);
  }
  
  #bottom {
    position: absolute;
    content: "";
    color: white;
    bottom: 0;
    width: 100vw;
    min-height: 80px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    right: 39px;
  }
  
  #boyFace {
    animation: boyface 3s infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
  }
  
  @keyframes boyface {
    0%{
      transform: rotateZ(0deg);
    }
    100%{
      transform: rotateZ(10deg);
    }
  }
  
  #boyHand {
    animation: boyhand 5s  infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
    z-index: 5;
  }
  
  @keyframes boyhand {
    0%{
      transform: rotateZ(0deg);
    }
    100%{
      transform: rotateZ(15deg);
    }
  }
  
  #girlFace {
    animation: girlface 5s infinite;
    transform-origin: center;
    transform-box: fill-box;
  }
  @keyframes girlface {
    0%{
      transform: rotateZ(0deg) rotateY(0deg);
    }
    100%{
      transform: rotateZ(15deg) rotateY(15deg);
    }
  }
  
  #girlhandLeft{
    animation: girlhandRight 2s ease-out infinite;
    transform-origin: right;
    transform-box: fill-box;
  }
  @keyframes girlhandRight {
    0%{
      transform: rotate(5deg);
    }
    70%{
      transform: rotate(-5deg);
    }
  }
  
  #girlhandRight{
    animation: girlhandRight 3s ease-out infinite;
    transform-origin: right;
    transform-box: fill-box;
  }
  @keyframes girlhandRight {
    0%{
      transform: rotate(5deg);
    }
    70%{
      transform: rotate(-1deg);
    }
  }
  
  /* Media Queries */
  @media screen and (min-width: 320px) and (max-width: 640px) {
    .menu  {
      margin-right: -1.5rem;
    }
  }
  
  @media screen and (orientation: landscape) and (max-device-width: 844px) {
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
  }
  