
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",  Helvetica, Arial, "Lucida Grande", sans-serif; 
  height: 100vh;
  width: 100vw;
  background: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.site-wrap {
  overflow-x: hidden;
  overflow-y: hidden;
}

#container {
  overflow-y: scroll;
}


