
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",  Helvetica, Arial, "Lucida Grande", sans-serif; 
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.site-wrap {
  overflow-x: hidden;
}

#container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

}

.parent {
  scroll-snap-align: start;
}


