
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: seagreen; */
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body {
  font-family: "Poppins", sans-serif;
  
  /* overflow: hidden; */
}

.site-wrap {overflow-x:hidden}




